/* Structure */

table {
    width: 100%;
  }
  .full-width{
    width:100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-id-column {
    flex: 10%;
  }
  
  img {
    max-width: 11rem;
    max-height: 11rem;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .mat-cell {
    padding: 8px 8px 8px 0;
  }
  
  .mat-raised-button {
    min-width: 0.5rem;
    max-width: 0.5rem;
  }
  
  .center-button {
    text-align: center;
    padding-left: .5em;
  }
  

  .center {
    display: flex;
    justify-content: center;
  }
  mat-card.filter-form {
    width: 480px;
    margin: auto;
  }
  .full-width {
    width: 100%;
    text-align: center;
	min-width: 0rem;
	max-width: 8rem;
    }
    .hourAlert {
      max-width: 25rem;
    }
