<!-- Content section -->
<div mat-dialog-content>
    <h2 class="text-center" mat-dialog-title>Reject this student from <b>{{data.name}}</b>?</h2>
    <mat-divider></mat-divider>
            <form class="py-2" [formGroup]="form">
                    <!-- Student Id field -->
                    <div class="row">
                            <div class="col-sm">
                                    <mat-form-field class="full-width">
                                        <input [value]="data.studentId" readonly matInput placeholder="Student Id" formControlName="studentId">
                                    </mat-form-field>
                            </div>
                            <div class="col-sm">
                        
                            </div>

                    </div>
                    <!-- Name and surname Fields -->
                    <div class="row">
                            <div class="col-sm">
                                    <mat-form-field class="full-width">
                                            <input [value]="data.studentName" readonly matInput placeholder="Name" formControlName="studentName">
                                    </mat-form-field>
                            </div>
                    </div>
                    <mat-divider></mat-divider>
                    <!-- Image input Field -->
                    <div class="row my-2">
                            <div class="col-sm-12">
                                    <div class="text-center">
                                            <img mat-card-image 
                                            id="preview" 
                                            class="rounded float" 
                                            #previewImg [attr.src]="imgsrc" 
                                            onerror="this.src='assets/images/person-icon.png'">
                                    </div>  
                            </div>
                    </div>
 
        </form>
</div>
<mat-divider></mat-divider>
<!-- Confirm section -->
    <div mat-dialog-actions>
            <button class="btn btn-default goBackBtn btn-danger center-block" 
                cdkFocusInitial mat-button 
                (click)="goBack()">
                Go back
            </button>
            <button mat-raised-button class="btn submitBtn btn-default btn-success center-block" 
                cdkFocusInitial mat-button 
                type="submit" (click)="submit()" 
                [disabled]="!form.valid">
                Confirm
            </button>
        </div>