.full-width {
	width: 100%;
  }
  
  .center-button {
	text-align: center;
	padding-left: .5em;
	min-width: 0.5rem;
	max-width: 0.5rem;
  }
  
  .center {
	display: flex;
	justify-content: center;
  }
  .leftBtn {
	display: flex;
	justify-content: flex-start;
  }

	#previewImg {
		max-height: 500px;
		max-width:  15rem;
		margin: 2rem;
		border: 2px black solid;
	}
	.register-card {
		max-width: 700px;
		margin: auto;
		margin-top: 5%;
	}
	.example-form {
		min-width: 100px;
		max-width: 600px;
		
	}


  