<div *ngIf="loading" class="loading-indicator">
    <mat-spinner></mat-spinner>
</div>  
<div class="container">

<mat-card class="register-card" style="text-align: center;">
            <mat-card-title>Profile</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content class="p-2">
<form style="margin-left: 1em" [formGroup]="form" (submit)="submit()">
<mat-form-field class="full-width">
    <input matInput placeholder="Student Id" [value]="student?.studentId" formControlName="studentId" required #spy>
    <mat-error *ngFor="let validation of validation_messages.studentId">
        <mat-error class="error-message"
        *ngIf="form.get('studentId').hasError(validation.type) &&
        (form.get('studentId').dirty ||
        form.get('studentId').touched)">{{validation.message}}</mat-error>
      </mat-error>
</mat-form-field>
<table class="full-width" cellspacing="0">
    <tr>
        <td>
            <mat-form-field class="full-width">
                <input matInput placeholder="Firstname" [value]="student?.name" formControlName="name" required>
                <mat-error *ngFor="let validation of validation_messages.name">
                    <mat-error class="error-message" *ngIf="form.get('name').hasError(validation.type) &&
                        (form.get('name').dirty ||
                        form.get('name').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="full-width">
                <input matInput placeholder="Surname" [value]="student?.surname" formControlName="surname" required>
                <mat-error *ngFor="let validation of validation_messages.surname">
                    <mat-error class="error-message" *ngIf="form.get('surname').hasError(validation.type) &&
                        (form.get('surname').dirty ||
                        form.get('surname').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </td>
    </tr>
</table>

<mat-form-field class="full-width" >
    <input  readonly matInput placeholder="Email" [value]="student?.email" formControlName="email">
    <mat-error *ngFor="let validation of validation_messages.email">
        <mat-error class="error-message" *ngIf="form.get('email').hasError(validation.type) &&
            (form.get('email').dirty ||
            form.get('email').touched)">{{validation.message}}</mat-error>
    </mat-error>
</mat-form-field>
<!-- Image input Field -->
<div class="row">
        <div class="col-sm-12">
                <form>
                <mat-file-upload  #fileUploader
                        [labelText]="'Select your new image:'" 
                        [selectButtonText]="'Upload'" 
                        [uploadButtonText]="'Upload'" 
                        [allowMultipleFiles]="false" 
                        [showUploadButton]="false" 
                        [acceptedTypes]="'.png, .jpg, .jpeg'" 
                        [customSvgIcon]="'close_custom'" 
                        
                        (selectedFilesChanged)="onSelectedFilesChanged($event)">
                        </mat-file-upload>
                <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>
                </form>     
        </div>
        <div class="col-sm-12">
                <div class="text-center">
                        <img mat-card-image 
                        id="previewImg" 
                        class="rounded float" 
                        #previewImg [attr.src]="student?.image" 
                        onerror="this.src='assets/images/person-icon.png'">
                </div>  
        </div>
</div>
<div style="text-align: left">
    <mat-checkbox color="primary" (click)="changeStudentPassword()">Change Password</mat-checkbox>
</div>
<mat-divider></mat-divider>
<div class="pt-4">
    <div class="row" >
        <div class="col-6">
            <span class="float-left">
                <!-- Button to go to profile page -->
                    <button class="ml-auto" mat-raised-button 
                    class="btn-danger" [routerLink]="['..']">
                    <i class="material-icons icon">
                        keyboard_arrow_left
                    </i>
                    Go back
                </button>
            </span>
        </div>
        <div class="col-6">
            <span class="float-right">
                 <!-- Button to submit change -->
            <button mat-raised-button 
                class="btn-success" type="submit" 
                [disabled]="!form.valid">
                <i class="material-icons icon">
                        done
                </i>
                Update
            </button>
            </span>
        </div>
    </div>
</div>
<mat-error class="pt-2" *ngIf="showStudentIdDupError">
    <div class="alert alert-danger" role="alert">
            <div class="vertical-align">
                    <i class="material-icons icon">error</i>
                    <strong *ngIf="duplicateStudentId">This student Id has already been used!</strong>
            </div>
    </div>
</mat-error>
</form>
</mat-card-content>
</mat-card>
</div>