<div class="container">
    <div *ngIf="loading" class="loading-indicator">
                    <mat-spinner></mat-spinner>
                </div>
<mat-card class="register-card" style="text-align: center;">

    <mat-card-title >Add new activity</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="p-2">
    <form style="margin: 1em" [formGroup]="form" (submit)="submit()">
    <!-- Name field -->
    <div class="row">
            <h6>Name</h6>
            <div class="w-100"></div>
            <div class="col-sm">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Activity name" formControlName="name" required #spy>
                        
                        <mat-error *ngFor="let validation of validation_messages.name">
                                <mat-error class="error-message"
                                *ngIf="form.get('name').hasError(validation.type) &&
                                (form.get('name').dirty ||
                                form.get('name').touched)">{{validation.message}}</mat-error>
                              </mat-error>
                        
                    </mat-form-field>
            </div>
           
    </div>
    <!-- Location Field -->
    <div class="row">
            <h6>Location</h6>
            <div class="w-100"></div>
            <div class="col-sm">
                    <mat-form-field class="full-width">
                            <input matInput placeholder="Location" formControlName="location" required>
                            
                                <mat-error *ngFor="let validation of validation_messages.location">
                                    <mat-error class="error-message"
                                    *ngIf="form.get('location').hasError(validation.type) &&
                                    (form.get('location').dirty ||
                                    form.get('location').touched)">{{validation.message}}</mat-error>
                                  </mat-error>
                                
                    </mat-form-field>
            </div>
    </div>
    <!-- Description Field -->
    <div class="row">
            <h6>Description</h6>
            <div class="w-100"></div>
            <div class="col-sm">
                    <mat-form-field class="full-width">
                            <textarea style="min-height:70px" matInput placeholder="Description" formControlName="description" required>
                            </textarea>
                            <mat-error *ngFor="let validation of validation_messages.description">
                                    <mat-error class="error-message"
                                    *ngIf="form.get('description').hasError(validation.type) &&
                                    (form.get('description').dirty ||
                                    form.get('description').touched)">{{validation.message}}</mat-error>
                                  </mat-error>
                                
                    </mat-form-field>
            </div>
    </div>
    <!-- Hour Credit Field -->
    <div class="row">
            <h6>Input hour for the activity</h6>
            <div class="w-100"></div>
            <div class="col-sm-12">
                <div class="col-sm-6 py-2">           
                    <mat-form-field class="full-width">
                        <input matInput type="number" formControlName="hourCredit" required>
                        
                            <mat-error *ngFor="let validation of validation_messages.hourCredit">
                                <mat-error class="error-message"
                                *ngIf="form.get('hourCredit').hasError(validation.type) &&
                                (form.get('hourCredit').dirty ||
                                form.get('hourCredit').touched)">{{validation.message}}</mat-error>
                              </mat-error>
                            
                </mat-form-field>      
                </div>
            </div>
    </div>
    <!-- Max Enrolled Student Field -->
    <div class="row">
        <h6>Input max student amount</h6>
        <div class="w-100"></div>
        <div class="col-sm-12">
            <div class="col-sm-6 py-2">           
                <mat-form-field class="full-width">
                    <input matInput type="number" formControlName="maxEnrolledStudent" required>
                    
                        <mat-error *ngFor="let validation of validation_messages.maxEnrolledStudent">
                            <mat-error class="error-message"
                            *ngIf="form.get('maxEnrolledStudent').hasError(validation.type) &&
                            (form.get('maxEnrolledStudent').dirty ||
                            form.get('maxEnrolledStudent').touched)">{{validation.message}}</mat-error>
                          </mat-error>
                        
            </mat-form-field>      
            </div>
        </div>
    </div>
    <!-- Academic Year Field -->
    <div class="row">
        <h6>Select academic year</h6>
        <div class="w-100"></div>
            <div class="col-sm-6 py-2">           
                <mat-form-field>
                    <mat-label>Academic Year</mat-label>
                    <mat-select formControlName="academicYear"  [(value)]="year" required>
                        <mat-option value="2019">2019</mat-option>
                        <mat-option value="2020">2020</mat-option>
                        <mat-option value="2021">2021</mat-option>
                        <mat-option value="2022">2022</mat-option>
                        <mat-option value="2023">2023</mat-option>
                        <mat-option value="2024">2024</mat-option>
                        <mat-option value="2025">2025</mat-option>
                        <mat-option value="2026">2026</mat-option>
                        <mat-option value="2027">2027</mat-option>
                        <mat-option value="2028">2028</mat-option>
                        <mat-option value="2029">2029</mat-option>
                    </mat-select>
                    </mat-form-field>        
            </div>
    </div>
     <!-- Academic Year Field -->
     <div class="row">
        <h6>Select semester</h6>
        <div class="w-100"></div>
        <div class="col-sm-6">
                <mat-form-field>
                <mat-label>Semester</mat-label>
                <mat-select formControlName="semester"  [(value)]="semester" required>
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                </mat-select>
                </mat-form-field>    
        </div>
    </div>
    <!-- Quick period Setup button-->
    <div class="row">
            <h6>Quick setup button</h6>
            <div class="w-100"></div>
            <div class="col-sm-12">
                <div class="col-sm-6 py-2">                             
                        <button mat-raised-button color="primary"type="button" (click)="quickSetup()">Quick setup</button>    
                </div>
            </div>
    </div>
    <!-- Host teacher Field -->
    <div class="row">
            <h6>Select host teacher</h6>
            <div class="w-100"></div>
            <div class="col-sm-6">
                    <mat-form-field>
                    <mat-label>Host teacher</mat-label>
                    <mat-select  class="full-width"required formControlName="hostTeacher"  [(value)]="hostId" required>
                        <mat-option *ngFor="let host of hostTeachers" [value]="host.id">
                            {{ host.name }} {{ host.surname }}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>    
            </div>
    </div>
   
    <mat-divider></mat-divider>
            <!-- Submit button -->
            <div class="center p-4">
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" >Submit</button>
            </div>
        
          </form>
        </mat-card-content>
  

</mat-card>

</div>