<!-- Content section -->
<div mat-dialog-content>
    <h2 class="text-center" mat-dialog-title>Please confirm this activity enrollment</h2>
    <mat-divider></mat-divider>
            <form class="py-2" [formGroup]="form">
                    <!-- Activity Name field -->
                    <div class="row">
                            <div class="col-sm">
                                    <mat-form-field class="full-width">
                                        <input [value]="data.name" readonly matInput placeholder="Name" formControlName="name">
                                    </mat-form-field>
                            </div>          
                    </div>
                    <!-- Activity location field -->
                    <div class="row">
                        <div class="col-sm">
                                <mat-form-field class="full-width">
                                    <input [value]="data.location" readonly matInput placeholder="Location" formControlName="location">
                                </mat-form-field>
                        </div>          
                    </div>
                    <!-- Activity location field -->
                    <div class="row">
                        <div class="col-sm">
                                <mat-form-field class="full-width">
                                    <textarea style="min-height:70px" readonly [value]="data.description" matInput placeholder="Description" formControlName="description" ></textarea>
                                </mat-form-field>
                        </div>          
                    </div>
                    <!-- Host's Name and Surname Field -->
                    <div class="row">
                            <div class="col-sm">
                                    <mat-form-field class="full-width">
                                        <input [value]="data.host" readonly matInput placeholder="Host's Name" formControlName="host">
                                    </mat-form-field>
                            </div>
                    </div>
                    <!-- Hour Credit amount Field -->
                    <div class="row">
                        <div class="col-sm-6">
                                <p><b>Hour : {{ data.hourCredit }} hours(s)</b></p>
                        </div>
                    </div>
                    <!-- Enrolled amount Field -->
                    <div class="row">
                        <div class="col-sm-6">
                                <p><b>Enrolled : {{ data.currentEnrolled }} / {{ data.maxEnrolledAmount}} student(s)</b></p>
                        </div>
                    </div>
                    <!-- Period Field -->
                    <div class="row">
                        <div class="col-sm-6">
                            <p><b>Activity Period: {{ data.academicYear }} / {{ data.semester }}</b></p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
 
        </form>
</div>
<!-- Withdraw pop up section -->
<div class="py-1">
    <mat-error>
        <div class="alert alert-warning" role="alert">
            <div class="vertical-align">
                <i class="material-icons icon">warning</i>
                <strong>Are you sure you want to withdraw from this activity?</strong>
            </div>
        </div>
    </mat-error>
</div>
<mat-divider></mat-divider>
<!-- Confirm section -->
    <div mat-dialog-actions>
            <button class="btn btn-default goBackBtn btn-danger center-block" 
                cdkFocusInitial mat-button 
                (click)="goBack()">
                Go back
            </button>
            <button mat-raised-button class="btn submitBtn btn-default btn-warning center-block" 
                cdkFocusInitial mat-button 
                type="submit" (click)="submit()" 
                [disabled]="!form.valid">
                Withdraw
            </button>
    </div>
    