<div class="mat-elevation-z8">
    <div *ngIf="loading" class="loading-indicator">
       <mat-spinner></mat-spinner>
     </div> 
     <mat-card>
      <mat-card-title><i class="material-icons icon">library_books</i>Assigned Activities</mat-card-title>
      <mat-divider class="my-2"></mat-divider>
  <div class="my-4">
      <h5>Activities Assigned: {{ activitySize }}</h5>
  </div>
  <mat-form-field appearance="outline">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for activity by name">
  </mat-form-field>
   <table mat-table #table matSort aria-label="Elements">
     <!-- Id Column -->
     <ng-container matColumnDef="id">
       <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
       <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
       <td mat-footer-cell *matFooterCellDef></td>
     </ng-container>
     <!-- Name of the activity Column -->
     <ng-container matColumnDef="name">
       <th mat-header-cell *matHeaderCellDef>Activity Name</th>
       <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
       <td mat-footer-cell *matFooterCellDef></td>
     </ng-container>
     <!-- Location of the activity Column -->
     <ng-container matColumnDef="location">
       <th mat-header-cell *matHeaderCellDef>Location</th>
       <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
       <td mat-footer-cell *matFooterCellDef></td>
     </ng-container>
     <!-- Host eacher Column -->
     <ng-container matColumnDef="hostTeacher">
       <th mat-header-cell *matHeaderCellDef>Host</th>
       <td mat-cell *matCellDef="let activity">{{activity.host.name +' '+ activity.host.surname}}</td>
       <td mat-footer-cell *matFooterCellDef></td>
     </ng-container>
     <!-- Period Column -->
     <ng-container matColumnDef="semesterAndAcademicYear">
       <th mat-header-cell *matHeaderCellDef mat-sort-header>Year / Semester</th>
       <td mat-cell *matCellDef="let activity">{{activity.academicYear}} / {{activity.semester }}</td>
       <td mat-footer-cell *matFooterCellDef></td>
     </ng-container>
     <!--Hour Credit Column -->
     <ng-container matColumnDef="hourCredit">
       <th mat-header-cell *matHeaderCellDef mat-sort-header>Hour</th>
       <td mat-cell *matCellDef="let activity">{{activity.hourCredit}}</td>
       <td mat-footer-cell *matFooterCellDef></td>
     </ng-container>
        <!-- Students column -->
     <ng-container matColumnDef="students">
      <th mat-header-cell *matHeaderCellDef >Students</th>
      <td mat-cell *matCellDef="let activity">
        <button class="btn btn-warning" (click)="routeToStudentListPage(activity.id)">
          Students
        <span class="badge badge-light">{{activity.enrolledStudents.length }} / {{ activity.maxEnrolledStudent}} student(s)</span>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Information column -->
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef >Information</th>
        <td mat-cell *matCellDef="let activity">
          <button class="btn btn-info" (click)="openInformationModal(activity)">
            Information
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
   </table>
 
   <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
     [pageSizeOptions]="[25, 50]">
   </mat-paginator>
   </mat-card>
 </div>