<div class="mat-elevation-z8">
    <div *ngIf="loading" class="loading-indicator">
            <mat-spinner></mat-spinner>
    </div>
    <mat-card>
        <mat-card-title><i class="material-icons icon">search</i>Find available Activities</mat-card-title>
        <mat-divider class="my-2"></mat-divider>
    <div class="my-4">
        <h5>Activities Enrolled: {{ enrolledAmt }}</h5>
        <h5 [ngClass]="{maxHour: enrolledHour>=50}">Hour Credit Enrolled: {{ enrolledHour }} / 50 hour(s)</h5>
        <mat-error *ngIf=" enrolledHour >=50" class="hourAlert">
            <div class="alert alert-danger" role="alert">
                <div class="vertical-align">
                    <i class="material-icons icon">access_time</i>
                    <strong>You dont have any free hours left to enroll!</strong>
                </div>
            </div>
        </mat-error>
    </div>
    <mat-form-field appearance="outline">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for activity by name">
    </mat-form-field>
    
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- ActivityId Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Activity Name</th>
            <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- Location Column -->
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
            <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- hostTeacher Column -->
        <ng-container matColumnDef="hostTeacher">
            <th mat-header-cell *matHeaderCellDef>Host Teacher</th>
            <td mat-cell *matCellDef="let activity">{{activity.host.name +' '+ activity.host.surname}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container> 
         <!-- Period Column -->
        <ng-container matColumnDef="semesterAndAcademicYear">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Year / Semester</th>
            <td mat-cell *matCellDef="let activity">{{activity.academicYear}} / {{activity.semester }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      <!--Hour Credit Column -->
      <ng-container matColumnDef="hourCredit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hour</th>
            <td mat-cell *matCellDef="let activity">{{activity.hourCredit}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!--Amount Enrolled Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let activity">{{activity.enrolledStudents.length }} / {{ activity.maxEnrolledStudent}} student(s)</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
          <!-- Information column -->
          <ng-container matColumnDef="info">
            <th mat-header-cell *matHeaderCellDef >Information</th>
            <td mat-cell *matCellDef="let activity">
              <button class="btn btn-info" (click)="openInformationModal(activity)">
                Information
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

        <!-- Enroll Column -->
        <ng-container matColumnDef="enroll">
            <th mat-header-cell *matHeaderCellDef>Enroll</th>
            <td mat-cell *matCellDef="let activity">
                <button matTooltip="Enroll this activity" 
                    class="btn btn-success" 
                    *ngIf="!containEnrolled(activity,studentId)" 
                    (click)="openEnrollConfirmDialog(activity)">
                    Enroll
                </button>
                <button matTooltip="You have enrolled already" 
                    class="btn btn-warning" *ngIf="containEnrolled(activity,studentId)" 
                    [disabled]="true">
                    Enrolled
                </button>

            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100]"> </mat-paginator>
    </mat-card>
</div>
