.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.router-link-active {
  color:#002984;
  text-decoration: underline;
  font-weight: bold;
}
.roleTitle {
    font-weight: bold;
}
.toolbar-menu-link {
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.toolbar-menu-link:hover {
  transition: color 0.2s ease-in-out;
  color:#002984;
}

img {
  border-radius:50%;
}
.profileMenuImg {
  box-shadow: 0px 0px 5px #ddd;
  transition: 0.2s;
}
.profileMenuImg:hover,.profileMenuImg:focus {
  box-shadow: 0px 0px 5px #666;
  transition: 0.2s;
}

.mat-list-item {
  height: 50px!important;
}
.mat-list-icon {
    vertical-align: middle;
}
div.mat-list-text {
    padding-left: 6px !important;
}
.floatIcon {
    vertical-align: middle;
}
.full-width {
    width:100%;
}