/* Structure */

table {
    width: 100%;
  }
  .full-width{
    width:100%;
  }
  
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-id-column {
    width: 30px!important;
  }
  .studentBtn
  {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      margin-top: 2px;
    width: 150px!important;
  }
  
  img {
    max-width: 11rem;
    max-height: 11rem;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  
  .mat-cell {
    padding: 8px 8px 8px 0;
  }
  
  .approveBtn {
    max-width: 2rem;
  }
  
  
  .center-button {
    text-align: center;
    padding-left: .5em;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }

  .student-img {
    max-height: 120px;
   
  
  }