<div class="mat-elevation-z8">
    <div *ngIf="loading" class="loading-indicator">
        <mat-spinner></mat-spinner>
    </div>
    <mat-card>
      <mat-card-title><i class="material-icons icon">account_box</i>Students</mat-card-title>
      <mat-divider class="my-2"></mat-divider>
  <div class="my-4">
      <h5 >Total Students: {{studentSize}} student(s)</h5>
  </div>
  <mat-form-field appearance="outline">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for student by name">
  </mat-form-field>
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id column -->
      <ng-container matColumnDef="id" >
        <th  mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td  mat-cell *matCellDef="let student">{{student.id}}</td>
        <td  mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- StudentId Column -->
      <ng-container matColumnDef="studentId">
        <th mat-header-cell *matHeaderCellDef>Student id</th>
        <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let student">{{student.name}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Surname Column -->
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
        <td mat-cell *matCellDef="let student">{{student.surname}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Email Column -->
      <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef >Email</th>
          <td mat-cell *matCellDef="let student">{{student.email}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef class="center-text">Image</th>
        <td mat-cell *matCellDef="let student" >
          <img class="rounded student-img" onerror="this.src='assets/images/person-icon.png'" [src]="student.image" [title]="student.name">
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  
    <mat-paginator #paginator [length]="dataSource?.data.length"  [pageIndex]="0"  [pageSize]="50" [pageSizeOptions]="[25, 50, 100]"> </mat-paginator>
    </mat-card>
  </div>
