<div class="container">

    <mat-card class="register-card" style="text-align: center;">

            <mat-card-title >Register your information</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content class="p-2">
            <form style="margin: 1em" [formGroup]="form" (submit)="submit()">
            <!-- Student Id field -->
            <div class="row">
                    <div class="col-sm">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Student Id" formControlName="studentId" required #spy>
                                <mat-error *ngFor="let validation of validation_messages.studentId">
                                        <mat-error class="error-message"
                                        *ngIf="form.get('studentId').hasError(validation.type) &&
                                        (form.get('studentId').dirty ||
                                        form.get('studentId').touched)">{{validation.message}}</mat-error>
                                      </mat-error>
                            </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <!--<button type="button" mat-raised-button class="center-button m-2" (click)="checkStudentId()">Validate Id</button>-->
                    </div>
                    <div class="col-sm">
                     
                    </div>
            </div>
            <!-- Name and surname Fields -->
            <div class="row">
                    <div class="col-sm">
                            <mat-form-field class="full-width">
                                    <input matInput placeholder="First name" formControlName="name" required>
                                    <mat-error *ngFor="let validation of validation_messages.name">
                                            <mat-error class="error-message"
                                            *ngIf="form.get('name').hasError(validation.type) &&
                                            (form.get('name').dirty ||
                                            form.get('name').touched)">{{validation.message}}</mat-error>
                                          </mat-error>
                            </mat-form-field>
                    </div>
                    <div class="col-sm">
                            <mat-form-field class="full-width">
                                    <input matInput placeholder="Surname" formControlName="surname" required>
                                    <mat-error *ngFor="let validation of validation_messages.surname">
                                            <mat-error class="error-message"
                                            *ngIf="form.get('surname').hasError(validation.type) &&
                                            (form.get('surname').dirty ||
                                            form.get('surname').touched)">{{validation.message}}</mat-error>
                                          </mat-error>
                            </mat-form-field>
                    </div>
            </div>
            <!-- Email Field -->
            <div class="row">
                    <div class="col-sm-6">
                            <mat-form-field class="full-width">
                                    <input matInput placeholder="Email" formControlName="email" type="email" email required>
                                    <mat-error *ngFor="let validation of validation_messages.email">
                                            <mat-error class="error-message"
                                            *ngIf="form.get('email').hasError(validation.type) &&
                                            (form.get('email').dirty ||
                                            form.get('email').touched)">{{validation.message}}</mat-error>
                                          </mat-error>
                            </mat-form-field>
                    </div>
            </div>
            <!-- Password and confirm password Field -->
            <div class="row">
                <div class="col-sm-6">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Password" formControlName="password" [type]="!hide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngFor="let validation of validation_messages.password">
                                    <mat-error class="error-message"
                                    *ngIf="form.get('password').hasError(validation.type) &&
                                    (form.get('password').dirty ||
                                    form.get('password').touched)">{{validation.message}}</mat-error>
                                  </mat-error>
                        </mat-form-field>
                </div>
                <div class="col-sm-6">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Confirm password" formControlName="confirmPassword" [type]="!hide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngFor="let validation of validation_messages.confirmPassword">
                                    <mat-error class="error-message"
                                    *ngIf="form.get('confirmPassword').hasError(validation.type) &&
                                    (form.get('confirmPassword').dirty ||
                                    form.get('confirmPassword').touched)">{{validation.message}}</mat-error>
                                  </mat-error>
                        </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <!-- Image input Field -->
            <div class="row my-2">
                    <div class="col-sm-12">
                            <form>
                            <mat-file-upload  #fileUploader
                                    [labelText]="'Select your image:'" 
                                    [selectButtonText]="'Upload'" 
                                    [uploadButtonText]="'Upload'" 
                                    [allowMultipleFiles]="false" 
                                    [showUploadButton]="false" 
                                    [acceptedTypes]="'.png, .jpg, .jpeg'" 
                                    [customSvgIcon]="'close_custom'" 
                                    (uploadClicked)="onUploadClicked($event)"
                                    (selectedFilesChanged)="onSelectedFilesChanged($event)">
                                    </mat-file-upload>
                            <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>
                            </form>     
                    </div>
                    <div class="col-sm-12">
                            <div class="text-center">
                                    <img mat-card-image 
                                    id="previewImg" 
                                    class="rounded float" 
                                    #previewImg [attr.src]="imgsrc" 
                                    onerror="this.src='assets/images/person-icon.png'">
                            </div>  
                    </div>
            </div>
                       
        <mat-divider></mat-divider>
                    <!-- Submit button -->
                    <div class="pt-4">
                                    <div class="row" >
                                        <div class="col-6">
                                            <span class="float-left">
                                                <!-- Button to go to profile page -->
                                                    <button class="ml-auto" mat-raised-button 
                                                    class="btn-danger" [routerLink]="['']">
                                                    <i class="material-icons icon">
                                                        keyboard_arrow_left
                                                    </i>
                                                    Go back
                                                </button>
                                            </span>
                                        </div>
                                        <div class="col-6">
                                            <span class="float-right">
                                                 <!-- Button to submit change -->
                                            <button mat-raised-button 
                                                class="btn-success" type="submit" 
                                                [disabled]="!form.valid || selectedImgFile == undefined">
                                                <i class="material-icons icon">
                                                    how_to_reg
                                                </i>
                                                Submit
                                            </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                    <mat-error *ngIf="showDupError">
                            <div class="alert alert-danger" role="alert">
                                    <div class="vertical-align">
                                            <i class="material-icons icon">error</i>
                                            <strong *ngIf="duplicateEmail && duplicateId">This email and student Id has already been used!</strong>
                                            <strong *ngIf="duplicateEmail && !duplicateId">This email has already been used!</strong>
                                            <strong *ngIf="!duplicateEmail && duplicateId">This student Id has already been used!</strong>
                                    </div>
                            </div>
                    </mat-error>
                
                  </form>
                </mat-card-content>
          
      
        </mat-card>

</div>